<%- include('../layout/head') %>
<h1>About Us</h1>
<%- include('../layout/nav') %>


<img src="http://theplacetelford.com/media/3302/teletubbies_generic_1000x1000.jpg?crop=0,0.31982218424479164,0,0.10615184172923439&cropmode=percentage&width=770&height=442&rnd=131830545630000000" class="center">
<br><br>
<hr width="67%">
<br><br>
<p id="about">mauris commodo quis imperdiet massa tincidunt nunc pulvinar sapien et ligula ullamcorper malesuada proin libero nunc consequat interdum varius sit amet mattis vulputate enim nulla aliquet porttitor lacus luctus accumsan tortor posuere ac ut consequat semper viverra nam libero justo laoreet sit amet cursus sit amet dictum sit amet justo donec enim diam vulputate ut pharetra sit amet aliquam id diam maecenas ultricies mi eget mauris pharetra et ultrices neque ornare aenean euismod elementum nisi quis eleifend quam adipiscing vitae proin sagittis nisl rhoncus mattis rhoncus urna neque viverra justo nec ultrices dui sapien eget mi proin sed libero enim</p>