<%- include('../layout/head') %>

<%- include('../layout/nav') %>

<h1>About Us</h1>

<img src="https://images.hellogiggles.com/uploads/2016/09/02114451/annthumbup.jpg" class="center">
<h2 class="about-us-names"><a href="https://github.com/lillielise">Lillian Gales</a></h2>
<hr width="67%">
<p id="about">Before Code Fellows, I was an Office Manager at a tech startup in Seattle. I was drawn to problem solving and creativity in coding, and decided to make the career shift. My hobbies include aerial yoga, traveling, and eating my way around Seattle.</p>
<br>
<img src="http://www.media2.hw-static.com/media/2015/11/rob-lowe-parks-and-recreation-nbc-111715-638x425.jpg" class="center">
<h2 class="about-us-names"><a href="https://github.com/EvanBC1">Evan Brecht-Curry</a></h2>
<hr width="67%">
<p id="about">The four main things I love doing in life are building things, learning, and making incomplete lists. I have spent my entire career working at tech companies bouncing from positions ranging from accounting to account management to analytics. Most recently I left my position at AWS as project manager to persue my passion in building technology by learning how to code. </p>
<br>
<img src="https://www.tvovermind.com/wp-content/uploads/2017/05/Ben-rdl3u6.png" class="center">
<h2 class="about-us-names"><a href="https://github.com/NaamaBarIlan">Na'ama Bar-Ilan</a></h2>
<hr width="67%">
<p id="about">Coming from the world of online video and ad tech, my background is in managing client relations. I’ve always loved creating and building new things and coding is a fun new way to do it. Outside of work I enjoy watching movies, cooking, gardening, and exploring the beautiful PNW.</p>
<br>
<img src="https://media0ch-a.akamaihd.net/73/51/6be6abbc93161c83db99024f6359d758-why-ron-swanson-was-the-worst-character-on-parks-rec.jpg" class="center">
<h2 class="about-us-names"><a href="https://github.com/CareyEG">Carey Goodwin</a></h2>
<hr width="67%">
<p id="about">Before I started Code Fellows I had a military background with my most recent experience being in manufacturing. I have a strong love for breakfast food and steak. My hobbies include computers, gaming, watching scary movies and working on cars. </p>