<%- include('../layout/head') %>
<h1>About Us</h1>
<%- include('../layout/nav') %>


<img src="https://www.tvovermind.com/wp-content/uploads/2017/05/Ben-rdl3u6.png" class="center">
<br><br>
<hr width="67%">
<br><br>
<p id="about">mauris commodo quis imperdiet massa tincidunt nunc pulvinar sapien et ligula ullamcorper malesuada proin libero nunc consequat interdum varius sit amet mattis vulputate enim nulla aliquet porttitor lacus luctus accumsan tortor posuere</p>
<br>
<img src="http://www.media2.hw-static.com/media/2015/11/rob-lowe-parks-and-recreation-nbc-111715-638x425.jpg" class="center">
<br><br>
<hr width="67%">
<br><br>
<p id="about">mauris commodo quis imperdiet massa tincidunt nunc pulvinar sapien et ligula ullamcorper malesuada proin libero nunc consequat interdum varius sit amet mattis vulputate enim nulla aliquet porttitor lacus luctus accumsan tortor posuere</p>
<br>
<img src="https://images.hellogiggles.com/uploads/2016/09/02114451/annthumbup.jpg" class="center">
<br><br>
<hr width="67%">
<br><br>
<p id="about">mauris commodo quis imperdiet massa tincidunt nunc pulvinar sapien et ligula ullamcorper malesuada proin libero nunc consequat interdum varius sit amet mattis vulputate enim nulla aliquet porttitor lacus luctus accumsan tortor posuere</p>
<br>
<img src="https://media0ch-a.akamaihd.net/73/51/6be6abbc93161c83db99024f6359d758-why-ron-swanson-was-the-worst-character-on-parks-rec.jpg" class="center">
<br><br>
<hr width="67%">
<br><br>
<p id="about">mauris commodo quis imperdiet massa tincidunt nunc pulvinar sapien et ligula ullamcorper malesuada proin libero nunc consequat interdum varius sit amet mattis vulputate enim nulla aliquet porttitor lacus luctus accumsan tortor posuere</p>