<%- include('../layout/head') %>
<h1>This is details.ejs!</h1>
<%- include('../layout/nav') %>


<!-- <h4>Name: <%= petResultAPI.name %></h4>
<h4>Description: <%= petResultAPI.description %></h4> -->
