<%- include('../layout/head') %>
<body>
  <h1>Welcome to petster!</h1>
  <%- include('../layout/nav') %>

  <h2>Fill out the info for your perfect pet below</h2>
    <main>
      <form id="user-form" action="/search" method="GET">
      <select class="dropdown" name="type" id="pet-type-dropdown">
        <!-- change back to default - using dog for testing -->
        <option class="dropbtn" name="Dog" value="Dog">Dog</option>
        <option name="Dog" value="Dog">Dog</option>
        <option name="Cat" value="Cat">Cat</option>
        <option name="Rabbit" value="Rabbit">Rabbit</option>
      </select>

      <input type="number" name="city" placeholder="Enter Your Zip Code" value="98103">
      
      <select class="dropdown" name="travelDistance" id="travel-distance-dropdown">
        <option name="15-miles" value="15" class="dropbtn" >How Far Are You Willing to Travel?</option>
        <option name="5-miles" value="5">5 Miles</option>
        <option name="15-miles" value="15">15 Miles</option>
        <option name="25+-miles" value="25">25 miles</option>
      </select>

        <input type="text" name="firstName" placeholder="Enter Your Username Here" value="lillie">

      <button id="submit" onclick="window.location.href='/search'">Submit</button>
    </form>
    </main>
    <%- include('../layout/footer') %>
  </body>
</html>
