<%- include('../layout/head') %>
<h1>Welcome to index.ejs!</h1>
<%- include('../layout/nav') %>

<h2>Fill out the info for your perfect pet below.</h2>

<div class="dropdown">
        <button class="dropbtn">Dropdown</button>
        <div class="dropdown-content">
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
      </div>

<h2>Your Location</h2>

<div class="dropdown">
        <button class="dropbtn">Dropdown</button>
        <div class="dropdown-content">
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
      </div>

<h2>Distance Willing to Travel</h2>

<div class="dropdown">
        <button class="dropbtn">Dropdown</button>
        <div class="dropdown-content">
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
      </div>

      <form>
            <h2>User Name</h2>
            <br>
            <input type="text" name="firstname"><br>
      </form>

      <button class="btn Submit">Submit</button>