html {
  height: 100%;
  background-image: linear-gradient(to bottom right, #57adf1, #788866);
  font-family: 'Indie Flower', cursive;
}

body {
  max-width: 600px;
  margin: auto;
  height: 100%;
}

