html {
  height: 100%;
  /* background-image: linear-gradient(to bottom right, #57adf1, #788866); */
  background-color:#101A40;
}

body {
  max-width: 600px;
  margin: auto;
  height: 98%;
}

*, body {
  font-family: 'Poppins', sans-serif;
  color: white;
}

main {
  margin: 0 auto;
  }

a {
  text-decoration: none;
}