#logo-icon {
    width: 13%;
    margin: 3%;
}

#delete-icon {
    width: 30%;
    /* margin: 3%; */
}


#info-icon-fav {
    width: 31%;
    /* margin: 3%; */
}

/* iPhone 6+, 7+ and 8+ */

/* @media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    html {
        background-color: green;
        }
} */


/* iPhone X */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 


      .heart-icon {
        margin-left: 10%;
        float: left;
        width: 15%;
    }
    
    .info-icon {
        margin-right: 10%;
        float: right;
        width: 15%;
    }
}


.heart-icon {
    margin-left: 10%;
    float: left;
    width: 10%;
}

.info-icon {
    margin-right: 10%;
    float: right;
    width: 10%;
}