#logo-icon {
    width: 13%;
    margin: 3%;
}

#delete-icon {
    width: 13%;
    margin: 3%;
}


#info-icon {
    width: 67%;
}

#heart-icon {
    width: 40px;
    margin: 3%;
    margin-left: 10%;
}
