h1 {
  font-family: 'Lobster', cursive;
  margin-top: 10%;
  text-align: center;
  font-size: 4em;
  color: white;
}

h2 {
  margin-top: 25%;
  margin: 0 auto;
  width: 77%;
  text-align: center;
  font-size: 1.2em;
  color: white;
  font-family: 'Poppins', sans-serif;
}

h3 {
  margin-top: 4%;
  text-align: center;
  font-size: 1.2em;
  color: white;
}

/* Nav Bar */
nav {
  margin-top: 10%;
  margin-bottom: 10%;
  text-align: center;
  font-size: 1.5em
}

.navUl {

  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: center;
}

.navLi {
  /* margin-left:1em; */
}

.navA {
  margin-left: 0.5em;
  font-size: 0.8em;
  color: white;
  text-decoration: none;
}

.favoritePet {
  text-align: center;
}
