h1 {
  font-family: 'Lobster', cursive;
  margin-top: 10%;
  text-align: center;
  font-size: 2.8em;
  color: white;
}

h2 {
  margin-top: 25%;
  text-align: center;
  font-size: 1.2em;
  color: white;
  font-family: 'Indie Flower', cursive;
}

h3 {
  margin-top: 4%;
  text-align: center;
  font-size: 1.2em;
  color: white;
}

/* Nav Bar */
nav {
  margin-top: 10%;
  margin-bottom: 10%;
  text-align: center;
  font-size: 1em
}

.navUl {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: center;
}

.navLi {
  margin-left:1em;
}

.navA {
  color: white;
  text-decoration: none;
}

.favoritePet {
  text-align: center;
}
