main {
margin: 0 auto;
}


h1 {
  font-family: 'Lobster', cursive;
  margin-top: 20px;
  text-align: center;
  font-size: 2em;
  color: white;
}

h2 {
  margin-top: 40px;
  text-align: center;
  font-size: 1.5em;
  color: white;
  font-family: 'Indie Flower', cursive;
}

h3 {
  margin-top: 40px;
  text-align: center;
  font-size: 1.2em;
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

/* Nav Bar */
nav{
  margin-top: 2%;
  margin-bottom: 2%;
  text-align: center;
}

ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: center;
}

li {
  margin-left:1em;
}

/* Inputs */
input {
  width: 300px;
  height: 30px;
  margin-left: 150px;
}

/* Button */
#submit {
 background-color: #05de29;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  width: 200px; 
  margin-left:200px;
  margin-top: 40px;
}
