/* Code from https://www.w3schools.com/howto/howto_css_text_buttons.asp */

/* //////////////////////////// */
/* //////////Index///////////// */
/* //////////////////////////// */

/* Inputs */
input {
  width: 68%;
  height: 20%;
  padding-left: 2%;
  margin-top: 5%;
  margin-left: 15%;
  font-size: 1.2em;
  /* text-align: center; */
  color: black; 
  margin-top: 7%;
}

/* Button */
#submit, .dropdown, #adopt-button, .about-us-names, .adopt-me-button {
 background-color: #2F3A70;
  color: white;
  padding: .5em;
  font-size: 1.1em;
  border: none;
  border-radius: 5px;
  width: 72%; 
  margin-left:15%;
  margin-top: 7%;
  /* text-decoration: none; */
}

#submit:hover, #submit:focus #submit:active {
  background-color: #D9D9D9;
  color: #2F3A70;
  font-weight: bold;
}

/* #btnSave:hover {
  background-color: #D9D9D9;
  color: #2F3A70;
  font-weight: bold;
} */

/* #delete-button:hover {
  background-color: #D9D9D9;
  color: #2F3A70;
  font-weight: bold;
} */


/* Dropdown Button */
select {
  background-color: #2F3A70;
  color: white;
  padding: .5em;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  width: 70%;
}
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    margin-top: 7%;
    display: flex;
    justify-content: center;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    margin-top: 50px;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
   
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #D9D9D9; color: black;}

  /* Submit Button */
  .btn {
    border: none;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
  }
  
  /* On mouse-over */
  .btn:hover {background: #eee;}
  
  .default {color: black;}
/* //////////////////////////// */
/* //////////Searches////////// */
/* //////////////////////////// */


.ranOutOfPets {
  background-color: #D9D9D9;
  line-height: 1.5em;
  border-radius: 8px;
  display: none;
  margin: 0 auto;
  margin-top: 8%;
  text-align: center;
  width: 11em;
  font-size: 1.5em;
  padding: 0.5em;
  box-shadow: 7px 7px 7px 0px rgba(0,0,0,0.50);
}

#out-of-pets {
  color: #101A40;
}

.image-fade {
  -webkit-transform:rotate(360deg);
  -webkit-transition-duration: 1s;
}


.view-details {
  display: none;
}
.hide-form-save-data {
  display: none;
}

.loadPets, #btnSave {
  display: none;
}



.loadPets {
  height: 73%;
  position: relative;
}

#hide-buttons {
  display: none;
}

  /* Images */
  #save-data{
    position: fixed;
    bottom: 1%;
    margin-left: 74%;
  }
  
.flexPet {
    height: 100%;
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    border-radius: 9px;
}

  .pet-image {
    display: flex;
    width: 95%;
    height: auto;
    max-height: 85%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 7px 7px 7px 0px rgba(0,0,0,0.50);
  }
  

  .heart {
    position: absolute;
    bottom: -13%;
    margin-left: 70%;
}

.petDescription {
  text-align: center;
  font-size: 1.2em;
}

  .view-name {
    font-size: 1em;
    margin-bottom: .5em;
    text-align: center;
  }

  #petName {
    font-size: 2em;
    font-weight: bolder;
    max-width: 50%;
    text-align: center;
    margin: 0 auto;

  }
  
  .view-description {
    padding: .5em;
    line-height: 1.5em;
    font-size: 1em;
    margin-bottom: 4%;
  }

  /* .searchButtons {
    margin-top: 3%;
    width: 40%;
    height: 4%;
    font-size: 1.5em;
    color:white;
    border: none;
    border-radius: 5px;
    -webkit-box-shadow: 4px 4px 2px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 4px 2px 0px rgba(0,0,0,0.75);
    box-shadow: 4px 4px 2px 0px rgba(0,0,0,0.75);
  } */

  #btnSave {
    margin-top: 2%;
    margin-left: 80%;
  }

  /* #btnSave:hover {
    background-color: #D9D9D9;
    color: #2F3A70;
    font-weight: bold;
  } */

  #btnPet{
    margin-left: 6%;
    background-color: #dc5858;
  }

  #btnNoPet {
    margin-left: 8%;
    background-color: #2F3A70;
  }

  .btnDetails {
    margin-left: 30%;
    background-color:#D9D9D9;
    color: black;
  }


/* //////////////////////////// */
/* //////////Favorites///////// */
/* //////////////////////////// */

.favorite-pets {
  /* display: flex; */
  padding-left: 2em;
  padding-right: 2em;
  /* padding-bottom: 2em; */
  /* margin: 2em; */
}

.favorite-pets-name {
  font-weight: bold;
}

.favorite-pets img{
  width: 600px;
  max-width: 90%;
  margin: 6% 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 7px 7px 7px 0px rgba(0,0,0,0.50);
  max-height: auto;
  max-width: 100%;
  display: flex;
} 

/* #delete-button {
  width: 14em;
  margin: 0 auto;
  margin-top: 7%;
} */

hr {
  margin-top: 5%;
  margin-bottom: 5%;
}

.adopt-me-button {
  margin: 15%;
}


#adopt-me-search {
  margin-left: 2em;
}
/* //////////////////////////// */
/* //////////Details////////// */
/* //////////////////////////// */

#petInfo { 
  display: flex;
  flex-wrap: wrap;
}

#map {
  width: auto;
  text-align: center;
  float: right;
}

#details-pet-image {
  width: 600px;
  max-width: 90%;
  margin: 10% 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

#pet-details h1 {
  margin: 0;
}

.adopt-me-button {
<<<<<<< HEAD
<<<<<<< HEAD
  margin-left: 28%;
  padding-left: 10%;
  padding-right: 10%;
=======
=======
>>>>>>> fb07b679135509055beee09742fed5c2a976c6af
  margin: 8%;
  padding: .8em;
  /* padding-left: 5%;
  padding-right: 5%; */
  text-align: center;
<<<<<<< HEAD
>>>>>>> 2d31466cdd089104ec93575798989c37fb10162f
}
=======
>>>>>>> fb07b679135509055beee09742fed5c2a976c6af

#button-wrap {
  display: flex;
}

#fav-pet-info{
  display: flex;
  flex-direction: column;
}

/* //////////////////////////// */
/* //////////About Us////////// */
/* //////////////////////////// */


#pet-details {
  text-align: center;
}

#about { 
  width: 18em;
  text-align: left;
  margin: 0 auto;
  line-height: 1.3em;
  margin-bottom: 5%;
  margin-top: 5%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-bottom: 5%;
}

.favoriteImg {
  border-radius: 5px;
}

.about-us-names {
  margin: 0 auto;
}

a:hover {
  text-decoration: none;
}

.ranOutOfPets {
  background-color: #2F3A70;
  line-height: 1.8em;
  border-radius: 8px;
  margin: 0 auto;
  margin-top: 8%;
  text-align: center;
  width: 11em;
  font-size: 1.4em;
  padding: 0.7em;
  padding-top: 2em;
  padding-bottom: 2em;
  box-shadow: 7px 7px 7px 0px rgba(0,0,0,0.50);

}

