<div class="pet-details-view">
  <img id="feature"></img>

  <h1></h1>
  <br>
  <hr width="60%">
  <br>
  <p id="petInfo">Here is the description about the little cutie you want.</p>
  <br><br><br><br><br><br>
  <h1>Location</h1>
  <br>
  <p><img id=map src="https://via.placeholder.com/150">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum, nisi lorem egestas odio, vitae scelerisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. </p>
</div>