<nav>
    <ul class="navUl">
        <li class="navLi"><a class="navA" href="/">Home</a></li>
        <li class="navLi"><a class="navA" href="/favorites">Favorites</a></li>
        <li class="navLi"><a class="navA" href="/aboutUs">About Us</a></li>
    </ul>
</nav>
