<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/search">Search</a></li>
        <li><a href="/favorites">Favorites</a></li>
        <li><a href="/details">Details</a></li>
        <li><a href="/aboutUs">About Us</a></li>

    </ul>
</nav>
